/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red{
    color: #f31a1a;
}

.v-middle{
    vertical-align: middle;

}

.blue{
    color: rgb(15, 15, 117);
}

.msg-success {
    background-color: #28a745;
    color: #fff;
}

.msg-error {
    background-color: #f31a1a;
    color: #fff;
}